<div>
  <h2>Edit Movie</h2>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="movie.title" name="title" required>
  </div>
  <div>
    <label for="director">Director:</label>
    <input type="text" id="director" [(ngModel)]="movie.director" name="director" required>
  </div>
  <div>
    <label for="releasedate">Release Date:</label>
    <input type="date" id="releasedate" [(ngModel)]="movie.releaseDate" name="releasedate" required>
  </div>
  <!-- Add more input fields for other properties if needed -->
  <div>
    <button (click)="onSaveChanges()">Save Changes</button>
    <button (click)="goBack()">Go Back</button>
  </div>
</div>
